.carousel {
  background-color: black;
}

.carousel .slide {
  height: 80vh;
}

.carousel .slide .img {
  max-height: 100%;
  width: auto;
}

.image {
  display: flex;
  justify-content: center;
  opacity: 0.5 !important;
}

.carousel .slide .legend {
  height: 70% !important;
  width: 50% !important;
  font-size: 10vh !important;
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0) !important;
  margin-bottom: 5% !important;
  color: white !important;
}

@media only screen and (max-width: 1200px) {
  .carousel {
    height: 70vh;
  }
}
@media only screen and (max-width: 1000px) {
  .carousel {
    height: 60vh;
  }
}

@media only screen and (max-width: 800px) {
  .carousel {
    height: 50vh;
  }
}

@media only screen and (max-width: 680px) {
  .carousel {
    height: 40vh;
  }
}

@media only screen and (max-width: 500px) {
  .carousel {
    height: 30vh;
  }
}

@media only screen and (max-width: 400px) {
  .carousel {
    height: 25vh;
  }
}
